body{
	padding-top: 70px;
	position: relative;
	overflow-y: scroll;
	height: 100%;
	font-family: 'Saira Extra Condensed', serif;
	color: #868e96;
	background-color: #F8F8FF;
}

table{
  background-color: #F8F8FF;
}

label{
  color: #343a40;
  font-size: 2rem;
}

h1,h2,h3,
h4,h5,h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 9.5rem;
}

h2 {
  font-size: 4rem;
}

h3{
	font-size: 2rem;
}

footer{ 
    background-color: #3d2447;
    color: #ecf0f1;
    
}

a{
  color: #343a40;
}

a:visited{
  color: #868e96;
  text-decoration: none;
}

a:hover{
  color: #3d2447;
  text-decoration: none;
}

span{
  background-color: none;
}

.centralizar{
	text-align: center;
}

.texto-secundario{
	color: #583069;
}

.subtexto{
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Saira Extra Condensed', serif;
	font-size: 2.75rem;
}

/*limpar margin bottom*/
.lm-bt{
	margin-bottom: 0;
}

/*limpar padding */
.lp{
  padding: 0;
}

/*colocar padding em cima e em baixo */
.cp-cb{
  padding-top: 20px;
  padding-bottom: 20px;
}

/*colocar margin*/
.cm{
	margin: 10px 10px;
}

.progress {
    position: relative;
  height: 25px;
}
.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 800;
  padding: 3px 30px 2px 10px;
  color: #ecf0f1;
  background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
  position: absolute;
  right: 0px;
  font-weight: 800;
  padding: 3px 10px 2px;
}


div.card{
  background-color: #dce3e5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 5%;
}

div.content{
  padding: 5% 5%;
}

/*sobre escrita do bootstrap*/

.row {
	margin-top: 18px;
}
.text-primary {
  color: #3d2447 !important;
}
.navbar{
	background-color: #3d2447;
}

.navbar-default, {
  background-color: #3d2447;
  border-color: #583069;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #583069;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #583069;
}
.navbar-default .navbar-toggle {
  border-color: #583069;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #583069;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #583069;
  }
}

.btn-second{
  color: #3d2447;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}

.btn-primary {
  background-color: #583069;
  border-color: #583069;
}